__pycache__/engine_pretrain.cpython-39.pyc
__pycache__/models_mae_group_channels.cpython-39.pyc
__pycache__/models_mae_spectral.cpython-39.pyc
__pycache__/models_mae.cpython-39.pyc
experiments/pretrain_fmow/checkpoint-0.pth
experiments/pretrain_fmow/checkpoint-1.pth
experiments/pretrain_fmow/checkpoint-2.pth
experiments/pretrain_fmow/checkpoint-3.pth
experiments/pretrain_fmow/checkpoint-4.pth
experiments/pretrain_fmow/checkpoint-5.pth
experiments/pretrain_fmow/checkpoint-6.pth
experiments/pretrain_fmow/checkpoint-7.pth
experiments/pretrain_fmow/checkpoint-8.pth
experiments/pretrain_fmow/checkpoint-9.pth
experiments/pretrain_fmow/checkpoint-10.pth
experiments/pretrain_fmow/checkpoint-11.pth
experiments/pretrain_fmow/checkpoint-12.pth
experiments/pretrain_fmow/checkpoint-13.pth
experiments/pretrain_fmow/checkpoint-14.pth
experiments/pretrain_fmow/checkpoint-15.pth
experiments/pretrain_fmow/checkpoint-16.pth
experiments/pretrain_fmow/checkpoint-17.pth
experiments/pretrain_fmow/checkpoint-18.pth
experiments/pretrain_fmow/checkpoint-19.pth
experiments/pretrain_fmow/events.out.tfevents.1750861722.61b2331dbd43.49639.0
experiments/pretrain_fmow/events.out.tfevents.1750861933.61b2331dbd43.52554.0
experiments/pretrain_fmow/events.out.tfevents.1750862182.61b2331dbd43.57451.0
experiments/pretrain_fmow/new_fmow_sep.txt
util/__pycache__/datasets.cpython-38.pyc
util/__pycache__/datasets.cpython-39.pyc
util/__pycache__/logging.cpython-38.pyc
util/__pycache__/logging.cpython-39.pyc
util/__pycache__/lr_decay.cpython-38.pyc
util/__pycache__/lr_decay.cpython-39.pyc
util/__pycache__/lr_sched.cpython-38.pyc
util/__pycache__/lr_sched.cpython-39.pyc
util/__pycache__/misc.cpython-38.pyc
util/__pycache__/misc.cpython-39.pyc
util/__pycache__/pos_embed.cpython-38.pyc
util/__pycache__/pos_embed.cpython-39.pyc
util/__pycache__/se_block.cpython-38.pyc
util/__pycache__/video_vit_se.cpython-38.pyc
util/__pycache__/video_vit.cpython-38.pyc
util/__pycache__/video_vit.cpython-39.pyc
wandb/debug-cli.root.log
wandb/debug-internal.log
wandb/debug.log
wandb/latest-run
wandb/run-20250625_142845-4cvbko2l/run-4cvbko2l.wandb
wandb/run-20250625_142845-4cvbko2l/files/config.yaml
wandb/run-20250625_142845-4cvbko2l/files/output.log
wandb/run-20250625_142845-4cvbko2l/files/requirements.txt
wandb/run-20250625_142845-4cvbko2l/files/wandb-metadata.json
wandb/run-20250625_142845-4cvbko2l/files/wandb-summary.json
wandb/run-20250625_142845-4cvbko2l/logs/debug-internal.log
wandb/run-20250625_142845-4cvbko2l/logs/debug.log
wandb/run-20250625_143217-3cimy3s3/run-3cimy3s3.wandb
wandb/run-20250625_143217-3cimy3s3/files/config.yaml
wandb/run-20250625_143217-3cimy3s3/files/output.log
wandb/run-20250625_143217-3cimy3s3/files/requirements.txt
wandb/run-20250625_143217-3cimy3s3/files/wandb-metadata.json
wandb/run-20250625_143217-3cimy3s3/files/wandb-summary.json
wandb/run-20250625_143217-3cimy3s3/logs/debug-internal.log
wandb/run-20250625_143217-3cimy3s3/logs/debug.log
wandb/run-20250625_143625-uq4muu17/run-uq4muu17.wandb
wandb/run-20250625_143625-uq4muu17/files/config.yaml
wandb/run-20250625_143625-uq4muu17/files/output.log
wandb/run-20250625_143625-uq4muu17/files/requirements.txt
wandb/run-20250625_143625-uq4muu17/files/wandb-metadata.json
wandb/run-20250625_143625-uq4muu17/files/wandb-summary.json
wandb/run-20250625_143625-uq4muu17/logs/debug-internal.log
wandb/run-20250625_143625-uq4muu17/logs/debug.log
experiments/pretrain_fmow/events.out.tfevents.1750862549.61b2331dbd43.62669.0
experiments/pretrain_fmow/events.out.tfevents.1750862597.61b2331dbd43.64848.0
wandb/run-20250625_144233-hm83d6u0/run-hm83d6u0.wandb
wandb/run-20250625_144233-hm83d6u0/files/config.yaml
wandb/run-20250625_144233-hm83d6u0/files/output.log
wandb/run-20250625_144233-hm83d6u0/files/requirements.txt
wandb/run-20250625_144233-hm83d6u0/files/wandb-metadata.json
wandb/run-20250625_144233-hm83d6u0/files/wandb-summary.json
wandb/run-20250625_144233-hm83d6u0/logs/debug-internal.log
wandb/run-20250625_144233-hm83d6u0/logs/debug.log
wandb/run-20250625_144321-su0g8eae/run-su0g8eae.wandb
wandb/run-20250625_144321-su0g8eae/files/config.yaml
wandb/run-20250625_144321-su0g8eae/files/output.log
wandb/run-20250625_144321-su0g8eae/files/requirements.txt
wandb/run-20250625_144321-su0g8eae/files/wandb-metadata.json
wandb/run-20250625_144321-su0g8eae/files/wandb-summary.json
wandb/run-20250625_144321-su0g8eae/logs/debug-internal.log
wandb/run-20250625_144321-su0g8eae/logs/debug.log
